@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/components/panel/gradient-blur.css";

:root {
  --background: 40 90% 96%;
  --foreground: 187 100% 19%;
  --muted: 40 12% 90%;
  --muted-foreground: 40 12% 30%;
  --popover: 40 90% 93%;
  --popover-foreground: 187 100% 9%;
  --card: 40 90% 94%;
  --card-foreground: 187 100% 14%;
  --border: 40 80% 91%;
  --input: 40 80% 88%;
  --primary: 187 100% 34%;
  --primary-foreground: 0 0% 100%;
  --secondary: 187 30% 75%;
  --secondary-foreground: 187 30% 15%;
  --accent: 40 90% 81%;
  --accent-foreground: 40 90% 21%;
  --destructive: 7 82% 38%;
  --destructive-foreground: 7 82% 98%;
  --ring: 187 100% 34%;
  --radius: 1rem;
  --hello: 40 100% 99.47%;
}

.dark {
  --background: 0 40% 4%;
  --foreground: 0 37% 100%;
  --muted: 330 23% 12%;
  --muted-foreground: 330 3% 72%;
  --popover: 0 40% 4%;
  --popover-foreground: 0 37% 100%;
  --card: 0 40% 4%;
  --card-foreground: 0 37% 100%;
  --border: 0 12% 12%;
  --input: 0 12% 12%;
  --primary: 70 71% 74%;
  --primary-foreground: 0 71% 14%;
  --secondary: 30 71% 74%;
  --secondary-foreground: 330 71% 14%;
  --accent: 30 71% 74%;
  --accent-foreground: 30 71% 14%;
  --destructive: 15 88% 57%;
  --destructive-foreground: 0 0% 0%;
  --ring: 0 71% 74%;

  /* Theme color for Chrome and Safari */
  --theme-color: #57a3f3;
}

/* Chart Colors */
:root {
  --circular-progress: 187 100% 34%;
}
.dark {
  --circular-progress: 187 100% 34%;
}
  


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.sidebar {
  z-index: 20; /* Ensure the sidebar is above other content */
  position: relative;
}


.katex-html {
  display: none; /* Hide HTML rendering */
}

mjx-container.MathJax {
  pointer-events: none;
}

* {
  user-select: "";
}

.mathjax-container.plain-text {
  font-weight: normal;
  font-family: sans-serif; /* Adjust the font family as needed */
}

/* Image Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  
}
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.ReactModal__Overlay {
  z-index: 9999; /* Ensure the modal overlay is on top */
  backdrop-filter: blur(50px); /* Apply backdrop blur */
  -webkit-backdrop-filter: blur(50px); /* Vendor prefix for Safari */
  background: var(--modal-overlay-bg) !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ReactModal__Content {
  background: transparent !important;
}
/* Image Styles */
.modal-content img {
  display: block;
  width: 100%; /* Ensure image takes up the full width of the modal */
  height: auto; /* Maintain aspect ratio */
  max-height: 80vh; /* Limit height to viewport height */
  object-fit: contain; /* Ensure image is not cropped */
}



