@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 74 56% 98%;
  --foreground: 74 56% 3%;
  --muted: 44 34% 85%;
  --muted-foreground: 44 8% 34%;
  --popover: 74 56% 97%;
  --popover-foreground: 74 56% 2%;
  --card: 79 56% 97%;
  --card-foreground: 74 56% 2%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --primary: 57.37 100% 45.23%;
  --primary-foreground: 74 53% 5%;
  --secondary: 44 53% 85%;
  --secondary-foreground: 44 53% 25%;
  --accent: 104 53% 85%;
  --accent-foreground: 104 53% 5%;
  --destructive: 2 81% 25%;
  --destructive-foreground: 2 81% 85%;
  --ring: 74 53% 85%;
  --radius: 1.5rem;

  --modal-overlay-bg: hsla(0, 0%, 0%, 0.5);
  --modal-content-bg: rgba(0, 0, 0, 0.9);
  --modal-content-padding: 0;
  --modal-content-border: none;
  --modal-content-radius: 0;
  --modal-content-shadow: none;
  --modal-image-max-width: 100%;
  --modal-image-max-height: 100%;
  --modal-image-object-fit: contain;

  /* Theme color for Chrome and Safari */
  --theme-color: #57a3f3;
}

.dark {
  --background: 0 40% 4%;
  --foreground: 0 37% 100%;
  --muted: 330 23% 12%;
  --muted-foreground: 330 3% 72%;
  --popover: 0 40% 4%;
  --popover-foreground: 0 37% 100%;
  --card: 0 40% 4%;
  --card-foreground: 0 37% 100%;
  --border: 0 12% 12%;
  --input: 0 12% 12%;
  --primary: 70 71% 74%;
  --primary-foreground: 0 71% 14%;
  --secondary: 30 71% 74%;
  --secondary-foreground: 330 71% 14%;
  --accent: 30 71% 74%;
  --accent-foreground: 30 71% 14%;
  --destructive: 15 88% 57%;
  --destructive-foreground: 0 0% 0%;
  --ring: 0 71% 74%;

  /* Theme color for Chrome and Safari */
  --theme-color: #57a3f3;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.sidebar {
  z-index: 20; /* Ensure the sidebar is above other content */
  position: relative;
}

.ReactModal__Overlay {
  z-index: 9999; /* Ensure the modal overlay is on top */
  backdrop-filter: blur(20px); /* Apply backdrop blur */
  -webkit-backdrop-filter: blur(20px); /* Vendor prefix for Safari */
  background: var(--modal-overlay-bg) !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ReactModal__Content {
  background: var(--modal-overlay-bg) !important;
}

.ReactModal__Content {
  position: fixed;
  z-index: 10001; /* Ensure it's above the overlay */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background: var(--modal-content-bg); /* Background of modal content */
  border-radius: var(--modal-content-radius);
  box-shadow: var(--modal-content-shadow);
  padding: 0; /* Remove padding to prevent extra space */
  overflow: hidden; /* Prevent content overflow */
  max-width: 90vw;
  max-height: 85vh; /* Limit the max height to 80% of viewport height */
  margin: auto; /* Center the modal content */
}

/* Theme color for Chrome and Safari */
@supports (color-scheme: light dark) {
  :root {
    color-scheme: light dark;
    --theme-color: #57a3f3;
  }
}
